/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body { /* Dev: declare higher */
    color: #31322A;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Quicksand", sans-serif;
    font-weight: normal;
}

a {
    color: #1C7BBB;
    text-decoration: none;
    }
    a:hover {
        color: #185288;
        border-bottom: 1px dotted currentcolor;
    }

.header { /* On body > div */
    background-color: rgba(0, 65, 125, 0.9); /* On a white background, this creates #185288, the a:hover color; */
    color: white;
    font-family: "Quicksand", sans-serif;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    }
    .header a {
        color: white;
    }
    .header header {
        line-height: 1em;
        margin: 0 auto;
        max-width: 40em;
        padding: 0 2em;
        }
        .header h2,
        .header h3,
        .header nav {
            float: left;
            font-size: 0.8em;
            margin: 0;
            padding: 1em 0em;
        }
        .header h2 {
            width: 25%;
        }
        .header h3 {
            font-style: italic;
            text-align: center;
            text-transform: none;
            width: 50%;
        }
        .header nav {
            text-align: right;
            width: 25%;
            }
            .header nav ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                }
                .header nav li {
                    display: inline;
                    margin-left: 0.5em;
                    }
                    .header nav li.active a {
                        border-bottom: 1px dotted currentcolor;
                    }

.content { /* On body > div */
    /*border: 1px dashed #83847B;*/
    line-height: 1.6;
    margin: 0 auto;
    margin-top: 2.5em;
    max-width: 40em;
    padding: 2em;
    }
    .content h1 {
        line-height: 1.1em;
        margin-top: 0.5em;        
    }
    .index { /* On body > .content > ol */
        list-style-type: none;
        margin: 0;
        padding: 0;
        }
        .index article {
            border-bottom: 1px dashed #CCCCCC;        
            margin: 0 -0.5em; /* Extend border left/right */
            padding: 0.5em;
            }
            .index h2,
            .index p {
                margin: 0;
            }
            .index time {
                float: right;
                margin-left: 1em;
                padding: 0.3em;
            }
    .single { /* On body > .content > article > section */
        }
        .single footer {
            color: #AAAAAA;
            font-size: 0.8em;
            letter-spacing: 0.3em;
            margin: -1.5em 0 2em; /* Closer to h1 */
            padding: 1em;
            text-transform: uppercase;
            }
            .single footer a {
                color: currentcolor;
            }
            .single time,
            .single address {
                display: inline;
                font-style: normal;
            }
            .tags { /* On body > .content > article > section > footer > ul */
                font-size: 0.8em;
                margin: 0.5em 0 0;
                padding: 0;
                }
                .tags li {
                    display: inline;
                    list-style: none;
                    }
                    .tags li:after {
                        content: ", ";
                    }
                    .tags li:last-child:after {
                        content: ".";
                    }
        .single img {
            max-width: 100%;
        }
        .single a[href*="picasaweb"],
        .single a[href^="https://github.com"] {
        /* Bug: http://stackoverflow.com/questions/8951822
                The attribute-selector doesn't work when style is applied with :before only, 
                causing all <a>s to be targetted. Adding any style for the element without 
                the pseudo-element seems to fix this. */
            font-family: inherit;
            }
            .single a[href*="picasaweb"]:before {
                content: "\f03e"; /* FontAwesome icon-picture */
                font-family: "FontAwesome";
                padding-right: 0.3em;
            }
            .single a[href^="https://github.com"]:before {
                content: "\f09b"; /* FontAwesome icon-github */
                font-family: "FontAwesome";
                padding-right: 0.3em;
            }
    .paginator { /* On body > .content */
        color: #AAAAAA;
        line-height: 1.2em;
        margin-bottom: 1em;
        text-align: center;
        }
        .paginator a {
            color: #AAAAAA;
            display: inline-block;
            font-size: 1;
            padding: 0 1em;
            }
            .paginator a:hover {
                border: none;
                color: #555555;
            }
            .paginator a span {
                display: none;
            }
        .paginator > span {
            font-size: 0.8em;
            letter-spacing: 0.3em;
            text-transform: uppercase;
        }
    .comments { /* On body > .content > article > section */
        border-top: 1px dashed #CCCCCC;
        margin: 0 -0.5em; /* Extend border left/right */
        padding: 0.5em;
    }

.footer {
    font-family: "Quicksand", sans-serif;
    line-height: 1em;
    margin: 0 auto;
    max-width: 40em;
    padding: 1em 2em 3em;
    }
    .footer footer {
        }
        .footer footer a {
            display: block;
            float: left;
            text-align: center;
            width: 33%;
            }
            .footer footer a:hover {
                border: none;
            }
        .footer footer i {
            display: block;
            margin-bottom: 0.1em;
        }









/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
