{% extends "base.html" %}

{% block title %}Archives - {{ SITENAME }}{% endblock title %}
{% block content %}
<header>
    <h1>Archives</h1>
</header>
<ol class="index">
{% for article in dates %}
    <li>
        <article class="clearfix">
            <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
            <header>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            </header>
            <p>{{ article.summary }}</p>
        </article>
    </li>
{% endfor %}
</ol>
{% endblock content %}