{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block content %}
<article>
	<section class="post">
        <header>
            <h1>{{ article.title }}</h1>
        </header>
        <footer>
            <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
            {% if article.author %}
            <address class="vcard">
                By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
            </address>
            {% endif %}
            {% if article.tags %}
            <ul class="tags">Tagged: 
                {% for tag in article.tags %}
                <li><a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </footer>
        <div>
            {{ article.content }}
        </div>
    </section>
    <section class="comments">
        <header>
            <h2>Comments</h2>
        </header>
        {% include "disqus.html" %}
    </section>
</article>
{% endblock %}