{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block content %}
<article>
    <header>
        <h2>{{ article.title }}</h2>
    </header>
    <footer>
        <time datetime="{{ article.date.isoformat() }}" pubdate>{{ article.locale_date }}</time>
        {% if article.author %}
        <address class="vcard">
            By <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
        </address>
        {% endif %}
    </footer>
    <div>
        {{ article.content }}
    </div>
</article>
{% endblock %}