{% if DEFAULT_PAGINATION %}
<nav class="paginator clearfix">
    {% if articles_page.has_previous() %}
        {% if articles_page.previous_page_number() == 1 %}
        {# No page number necessary in url #}
            <a class="icon-circle-arrow-left icon-large pull-left" href="{{ SITEURL }}/{{ page_name }}.html"><span>&laquo;</span></a>
        {% else %}
            <a class="icon-circle-arrow-left icon-large pull-left" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html"><span>&laquo;</span></a>
        {% endif %}
    {% endif %}
    <span>Page {{ articles_page.number }} / {{ articles_paginator.num_pages }}</span>
    {% if articles_page.has_next() %}
        <a class="icon-circle-arrow-right icon-large pull-right" href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html"><span>&raquo;</span></a>
    {% endif %}
</nav>
{% endif %}